
@import url(../css/fonts.css);


html,body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}


:root{
     /*-----------theme colors----------------*/
    --text-graw:#3f4954;
    --text-light:#686666da;
    --bg-color: #0f0f0f;
    --white:#ffffff;
    --midnight: #104f55;
     /*-----------end-----------------*/


     /*    grad color */
     --skyblue: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

     /*    end    */


   /*-------------font family ka family-----------------*/
   --Abel:'Abel',cursive;
   --Anton:'Anton',cursive;
   --josefin:'josefin',cursive;
   --Lexend:'Lexend',cursive;
   --Livvic:'Livvix',cursive;
   /*-----------end-----------------*/
}

/*------------GLOBLE CLASSES--------*/
a{
    text-decoration: none;
}

.flix-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul{
    list-style-type:none;
}
/*-------------END------------------*/


/*---------------NAVBAR-------------------*/
.nav{
    background: black;
    padding: 0 2rem;
    height: 0rem;
    min-height: 12vh;
    overflow: hidden;
}
.nav .nav-menu{
    justify-content: space-between;
    padding: 1rem 0;
}

.collapse{
    height: 35rem;
    background-color: black;
}


.nav .nav-items{
    list-style-type:none;
    display: flex;
    margin:0;
}
.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}


.nav .nav-items .nav-link:hover{
background-color: var(--midnight);

}
.nav .nav-items .nav-link:hover a{
    color: #ffffff;
}



.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family:var(--lexend);
    font-size: 1.7rem;
    
}

.nav .social{
    padding: 1.4rem 0;
    
}
.nav .social i{
    padding:0.1rem
}
.nav .social i:hover{ 
    color:blue;
}



.nav .toggle-collapse{
    position: absolute;
    top:0%;
    width:90%;
    cursor: pointer;
    display:none ;

}
.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;

}
.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);

}


/*---------------NAVBAR-------------------*




/*-----------------view port lines-------750px----------*/
@media only screen and (max-width:750px){
    .nav .nav-menu, .nav .nav-items{
        flex-direction:column;
    }
    .nav .toggle-collapse{
        display: initial;
    } 

}
/*------------------------------------------------*/